@{
    ViewData["Title"] = "ExcelIndex";
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

<h1 class="mb-4">Excel İndir</h1>

<div class="d-flex flex-column gap-3">
    <a href="~/Excel/ComReport" class="btn btn-outline-success">Excel İndir</a>
    <a href="~/Excel/JourReport" class="btn btn-outline-success">Duyuru İndir</a>
</div>