<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="~/Service/ServiceIndex">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Hizmetlerimiz</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Staff/StaffIndex">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Personeller</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Dashboard/DashboardIndex">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Grafikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Journal/JournalIndex">
                <i class="mdi mdi-newspaper menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Communication/CommunicationIndex">
                <i class="mdi mdi-inbox menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Images/ImageIndex">
                <i class="mdi mdi-image-multiple menu-icon"></i>
                <span class="menu-title">Görseller</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Excel/ExcelIndex">
                <i class="mdi mdi-file-chart menu-icon"></i>
                <span class="menu-title">Raporlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../documentation/documentation.html">
                <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>