@model PlantSaleUI.Models.ServiceInsertModel

@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

<h1>Hizmet Ekleme Sayfası</h1>

<form method="post">

    <div class="form-control">
        @Html.Label("Hizmet Giriniz")
        <span asp-validation-for="Title" class="text-danger"></span>
        <input type="text" asp-for="Title" />
    </div>
    <div class="form-control">
        @Html.Label("Açıklama Giriniz")
        <span asp-validation-for="Title" class="text-danger"></span>
        <input type="text" asp-for="Desc" />
    </div>
    <div class="form-control">
        @Html.Label("Görsel Yolu")
        <span asp-validation-for="Title" class="text-danger"></span>
        <input type="text" asp-for="Image" />
    </div>

    <button class="btn btn-primary">Ekle</button>
</form>

